* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu > * {
    margin: 8px 0;
}

button {
    padding: 12px;
    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 5px black;
    background-color: white;
}

button:hover {
    box-shadow: 4px 4px 10px black;
    border: 1px solid white;
}

div.game {
    width: min(50vh, 50vw);
    height: min(50vh, 50vw);
    border: 18px solid orange;
    border-radius: 18px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.game > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

.hidden {
    visibility: hidden;
    height: 0px;
}